@model IEnumerable<WebApplication2.Models.DesignationMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary text-white">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th>IsActive</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DesignationId" class="btn btn-success text-white">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DesignationId" class="btn btn-info text-white">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DesignationId" class="btn btn-danger text-white">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
